@import "~normalize.css/normalize.css";

$main-blue: #007dba;
$secondary-blue: #31708f;
$chrome-bg: $main-blue;
$page-gutter: 25px;

%main-content-wrapper {
  margin: 0 auto;
  max-width: 1100px;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  min-height: 100vh;
}

a {
  color: $secondary-blue;
}

.site-header {
  background: $chrome-bg;
  padding: 2rem $page-gutter;

  .wrapper {
    @extend %main-content-wrapper;

    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-size: 3rem;

    a {
      color: #fff;
      text-decoration: none;
    }
    margin: 0;
  }
}

.site-nav {
  a {
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
    text-decoration: none;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.site-content {
  @extend %main-content-wrapper;

  box-sizing: border-box;
  flex: 1;
  padding: 0 $page-gutter;
  width: 100%;
}

.site-footer {
  background: $chrome-bg;
  font-size: 1.5rem;
  padding: 15px 0;
  text-align: center;

  &,
  a {
    color: #fff;
  }
}

.page-title {
  color: $secondary-blue;
  font-size: 3.5rem;
  text-align: center;
}

.components-index {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0;
}

.component-thumb {
  border: 1px $main-blue solid;
  box-sizing: border-box;
  flex: 0 1 calc(33.3% - 16.66px);
  margin-bottom: 25px;
  margin-right: 25px;

  &:nth-child(3n+3) {
    margin-right: 0;
  }

  a {
    color: $main-blue;
    display: block;
    text-decoration: none;
  }

  h2 {
    background: $main-blue;
    color: #fff;
    font-size: 2.5rem;
    margin: 0;
    padding: 10px 0;
    text-align: center;
  }

  img {
    width: 100%;
  }
}

.component-thumb--more {
  align-content: center;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
  }
}

.image-zoomer-page {
  padding-bottom: 30px;

  image-zoomer {
    display: flex;

    .zoom-container {
      flex: 1;
      padding-right: 25px;
    }

    .zoom-window {
      flex: 2;
      padding-bottom: 66.66%;
    }
  }
}

.tooltip-page {
  tooltip-manager {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 400px
  }

  .cell {
    $height: 200px;

    flex: 1 0 50%;
    font-weight: bold;
    height: $height;
    line-height: $height;
    text-align: center;
  }
}
