@import "~normalize.css/normalize.css";

$main-blue: #007dba;
$chrome-bg: $main-blue;
$page-gutter: 25px;

%main-content-wrapper {
  margin: 0 auto;
  max-width: 1100px;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  min-height: 100vh;
}

.site-header {
  background: $chrome-bg;
  padding: 2rem $page-gutter;

  .wrapper {
    @extend %main-content-wrapper;

    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-size: 3rem;

    a {
      color: #fff;
      text-decoration: none;
    }
    margin: 0;
  }
}

.site-nav {
  a {
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
    text-decoration: none;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.site-content {
  @extend %main-content-wrapper;

  flex: 1;
  padding: 0 $page-gutter;
  width: 100%;
}

.site-footer {
  background: $chrome-bg;
  font-size: 1.5rem;
  padding: 15px 0;
  text-align: center;

  &,
  a {
    color: #fff;
  }
}

.components-index {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0;
}

.component-thumb {
  box-sizing: border-box;
  flex: 0 1 calc(33.3% - 16.66px);
  margin-bottom: 25px;
  margin-right: 25px;

  &:nth-child(3n+3) {
    margin-right: 0;
  }

  a {
    color: $main-blue;
    display: block;
    text-decoration: none;
  }

  h2 {
    font-size: 2.5rem;
    margin: 10px 0 0;
    text-align: center;
  }

  img {
    width: 100%;
  }
}

.component-thumb--more {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
  }
}
