<!doctype html>
<html>
  <head>
    <title>UI Components</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <header class="site-header">
      <h1>UI Components</h1>
    </header>
    <main class="site-content">
      {{{contents}}}
    </main>
    <script src="/main.js"></script>
    <script src="/webpack-dev-server.js"></script>
  </body>
</html>
