<!doctype html>
<html>
  <head>
    <title>UI Components</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  </head>
  <body>
    <header class="site-header">
      <h1>UI Components</h1>
    </header>
    <main class="site-content">
      {{{contents}}}
    </main>
  </body>
</html>
