---
title: Tooltip
---

<div class="tooltip-page">
  <h1 class="page-title">Tooltip</h1>

  <tooltip-manager>
    <div class="cell">
      <a href="#" data-tooltip="I am a tooltip" data-tooltip-position="top">
        Top tooltip
      </a>
    </div>
    <div class="cell">
      <a href="#" data-tooltip="I am a tooltip" data-tooltip-position="bottom">
        Bottom tooltip
      </a>
    </div>
    <div class="cell">
      <a href="#" data-tooltip="I am a tooltip" data-tooltip-position="left">
        Left tooltip
      </a>
    </div>
    <div class="cell">
      <a href="#" data-tooltip="I am a tooltip" data-tooltip-position="right">
        Right tooltip
      </a>
    </div>
  </tooltip-manager>
</div>
